.home-container {
  // background-color: red;
  width: 100%;
  height: 90%;
  // padding:10px;
  display: flex;
  flex-direction: column;
  .header-home {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ecf2f8;
    .home-left {
      // width:70%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .card-header {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        transition: 0.5s;
        &:hover {
          cursor: pointer;
        }
      }
      .active {
        border-bottom: 2px solid black;
        box-shadow: rgba(0.15, 0.15, 0.15, 0.15) 2.6px 1.95px 2.6px;
      }
    }
    .home-right {
      padding: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .body-home {
    width: 100%;
    // height: 100%;
    background-color: #ecf2f8;
    .home-card {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      .detail-input {
        height: 300px;
        .input-detail {
          width: 100%;
          // height:100px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 10px;
          p:nth-child(1) {
            font-weight: 700;
            margin: 5px !important;
          }
        
        }
      }
      .button-lengkapi {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-lengkapi {
          // width:30%;
          padding: 10px;
          height: 50px;
          border: 1px solid gray;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.5s;
          &:hover {
            cursor: pointer;
            background-color: #0b84e3;
            color: white;
          }
        }
      }
   
    }
    .store-card{
      width:100%;
      height:80vh;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding:10px;
      overflow-y: scroll;
      .card-item{
        width:100px;
        height:200px;
        // border:1px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin:5px;
        img{
          width:100%;
          height:50%;
          border-radius:5px;
        }
        .btn-add {
          width:80%;
          // height:50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border:1px solid gray;
          padding:5px;
          border-radius:5px;
          transition: 0.5s;
          &:hover{
            cursor: pointer;
            background-color: #0b84e3;
            color:white;
          }
        }
      }
      .store-not-ready {
        width:100%;
        height:200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // padding:5px;
        .btn-home{
          width:80%;
          height:40px;
          border:1px solid gray;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius:5px;
          margin-top:20px;
          transition: 0.5s;
          &:hover{
            cursor: pointer;
            background-color: #fcfdfd;
          }
        }
      }
    }
    .cart-card{
      width:100%;
      height:100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding:10px;
      .detail-cart{
        width:100%;
        height:70vh;
        display: flex;
        flex-direction: column;
        .cart-item {
          margin-top:10px;
          margin-bottom:10px;
          height:100px;
          width:100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          // border:1px solid red;
          .card-left{
            display: flex;
            flex-direction: row;
            width:70%;
            img{
              height:100px;
              width:100px;
              margin-right:5px;
            }
          }
          .disabled {
            &:hover{
              cursor:not-allowed !important;
              background-color: transparent !important;
              color:black !important;
            }
          }
          .option-qty{
            width:30%;
            height:100%;
            // border:1px solid red;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            .btn-option{
              width:30px;
              height:30px;
              display: flex;
              justify-content: center;
              align-items: center;
              border:1px solid gray;
              border-radius:5px;
              transition: 0.5s;
              &:hover{
                cursor: pointer;
                background-color: #0b84e3;
                color:white;
              }

            }
            p{
              font-weight:700;
            }
          }
        }
        // background-color: red;
      }
      .review-card{
        width:100%;
        height:10vh;
        // background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        .btn-review {
          width:200px;
          padding:10px;
          border:1px solid gray;
          border-radius:5px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition:0.5s;
          &:hover{
            cursor: pointer;
            background-color: #0b84e3;
            color:white;
          }
        }
      }
      .store-not-ready {
        width:100%;
        height:200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // padding:5px;
        .btn-home{
          width:80%;
          height:40px;
          border:1px solid gray;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius:5px;
          margin-top:20px;
          transition: 0.5s;
          &:hover{
            cursor: pointer;
            background-color: #fcfdfd;
          }
        }
      }
      .success-card {
        width:100%;
        height:80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .icon-success{
          font-size:100px;
          color:green;
        }
        .rotate {
          animation: rotation 3s infinite linear;
          }
          
          @keyframes rotation {
              from {
                  transform: rotate(0deg);
              }
              to {
                  transform: rotate(360deg);
              }
          }
        .btn-home{
          width:80%;
          height:40px;
          border:1px solid gray;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius:5px;
          margin-top:20px;
          transition: 0.5s;
          &:hover{
            cursor: pointer;
            background-color: #fcfdfd;
          }
        }
      }
    }
}
}

.modal {
  .modal-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
      .modal-content{
          width:385px !important;
          .modal-body{
            .input-data {
                // background-color: transparent;
                border-radius:5px;
                // border: none;
                width:100%;
                padding: 5px;
                margin:5px;
                border:1px solid gray;
                // border-bottom: 1px solid gray;
                &:focus {
                  outline: none;
                }
              }
              .purchase-list{
                width:100%;
                height:250px;
                overflow-y: scroll;
                table{
                  width:100%;
                  tbody{
                    tr {
                      // width:90% !important;
                      // background-color: blue;
                    }
                  }
                }
              }
          }
          .modal-footer{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                width:50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                color:black;
                transition: 0.5s;;
                &:hover{
                    cursor: pointer;
                    background-color: #0b84e3;
                    color:white;
                    
                }
            }
          }
      }
  }
}